.event-page-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url('../../Images/food-event.jpg');
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.event-form {
  font-family: 'Roboto', sans-serif;
}

.create-btn-container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 30px;
  width: 600px;
}


.event-page-link {
  display: inline-block;
  transition: .3s;
  font-weight:bold;
  text-decoration:none;
}

.event-page-link:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.event-page-link {
  position: relative;
  display: inline-block;
  transition: .3s;
  text-decoration: none;
}


.create-btn-container {
  margin-top: 20px;
}
