.home-container {
 margin-top: auto;
 display:flex;
 justify-content: center;
 align-content: center;
}

.home-image-container {
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url('../../Images/potluck-landing.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 1920px;
  height: 100vh;
  /* height: 1080px;
  width: 1920px; */
  z-index: 0;
}

.welcome-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  color: black;
  font-size: xx-large;
  margin-top: 5rem;
  text-align: center;
  align-content: center;
}

.overlay {
  color: #fff;
  z-index: 1;
}

.overlay-msg {
}

.text {
  opacity: 1;
  text-shadow: 3px 3px black;
}

.brand-text {
  font-family: 'Style Script', cursive;
  text-shadow: 4px 4px black;
  margin-bottom: 0;
}

.create {
  font-size: 25px;
}

/* about me links */
.about-me-container {
  display: flex;
  justify-content: center;
}

.fa-linkedin {
  color: #DA291C;
  margin: 10px;
  size: 5x;
}

.fa-linkedin:hover {
  color: #fff;
}

.fa-github-square {
  color: #DA291C;
  margin: 10px;
}

.fa-github-square:hover {
  color: #fff;
}
