.edit-wrapper {
 display:flex;
 justify-content: center;
 align-content: center;
}

.edit-event-page-container {
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url('../../Images/korea-food.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 1920px;
  height: 100vh;
}

.edit-form {
  height: 700px;
  margin-top: 300px;
}

.edit-event-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-top: 25px;
  padding: 2rem;
  width: 400px;
  height: 650px;
  margin-bottom: 25px;
}
