.comment-container {
  max-width: 640px;
  margin: 30px auto;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
}

.comments {
  display: flex;
  justify-content: center;
}

.comment-input {
  display: flex;
  justify-content: center;
}
