.comment-container {
  max-width: 640px;
  margin: 30px auto;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 1920px;
  height: 60vh;
}

.comments {
  display: flex;
  justify-content: center;
}

.comment-input {
  display: flex;
  justify-content: center;
}

.comment-table {
  max-width: 640px;
}


.fa-edit {
  background-color: #FFC72C;
  color: #DA291C;
}

.fa-trash-alt {
  background-color: #FFC72C;
  color: #DA291C;
}

.action-button {
  background-color: #FFC72C;
  border-radius: 3px;
  margin: 2px;
}
