.form-wrapper-single {
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url('../../Images/food-event-people.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 1920px;
  height: 100vh;
  margin-top: 0;
  z-index: 0;
}

.title-center {
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
}
