/* TODO Add site wide styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.button {
  display:inline-block;
  border:0.1em solid #000000;
  padding:0.46em 1.6em;
  margin:0 0.2em 0.2em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.15s;
 }

.button:hover {
  text-shadow: 0 0 2em rgba(255,255,255,1);
  color:#FFFFFF;
  border-color:#FFFFFF;
}

.yellow {
  color: #FFC72C;
}

.red {
  color: #DA291C;
}

.black {
  color: #27251F;
}

.yellow-bg {
  background-color: #FFC72C;
}

.red-bg {
  background-color: #DA291C;
}

.black-bg {
  background-color: #27251F;
}

.font {
  font-family: 'Roboto', sans-serif;
}
