/* TODO Add site wide styles */
body {
  margin: 0;
  padding: 0;
}

.yellow {
  color: #FFC72C;
}

.red {
  color: #DA291C;
}

.black {
  color: #27251F;
}

.yellow-bg {
  background-color: #FFC72C;
}

.red-bg {
  background-color: #DA291C;
}

.black-bg {
  background-color: #27251F;
}
