.signup-btn {
  width: 150px;
}

.signup-wrap {
 margin-top: auto;
 display:flex;
 justify-content: center;
 align-content: center;
 align-items: center;
}

.signup-page-container {
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url('../../Images/fruits.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 1920px;
  height: 100vh;
  z-index: 0;
}

.signup-form {
  height: 500px;
  width: 400px;
}

.signup-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-top: 5rem;
  padding: 2rem;
  width: 400px;
  height: 500px;
  margin-bottom: 25px;
}
