.profile-dropdown {
  display: flex;
  flex-direction: row;
}

.nav-container {
  margin: auto;
  height: 90px;
  background-color: #fff;
  width: 100%;
  /* box-sizing: border-box; */
  box-shadow: 0 5px 6px 0 rgb(50 50 50 / 26%);
  display: flex;
  justify-content: space-evenly;
}

.nav-wrapper {
  display: flex;
}

.nav-ul {
  margin: auto;
  width: 1024px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

/* Nav Links */
.nav-li {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
}

.nav-li:hover {
  color: #DA291C;
}

/* .nav-li:visited {
  color: #27251F;
} */

.nav-li:active {
  color: #DA291C;
}



.nav-logo {
  width: 65px;
  height: 65px;
  margin: auto;
}

.brand-name {
  margin: auto;
  text-align: end;
  font-family: 'Style Script', cursive;
  font-size: 55px;
  }

.brand-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.brand-name-container {
  margin-top: 10px;
  margin-left: 5px;
}

.profile-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  padding: 0;
  width: 30px;
  height: 30px;
  align-content: center;
  align-items: center;
}

.profile-dropdown {
  list-style: none;
  margin-top: 30px;
}

.left-nav {
  justify-content: flex-start;
}

.right-nav {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
